<footer class="footer" role="contentinfo">
    <div>Copyright &copy; {{date format="YYYY"}} <a href="https://mingjie.info">Mingjie Jiang</a> | <a href="{{@site.url}}">{{@site.title}}</a> &bull; All rights reserved.</div>
</footer>