<footer class="footer" role="contentinfo">
    <div>Copyright &copy; {{date format="YYYY"}} <a href="https://mingjie.info">Mingjie Jiang</a> &bull; All rights reserved. 
    <a href="https://github.com/itsmingjie/ganymede">💫 Ganymede</a> on <a href="https://ghost.org">Ghost</a>.</div>
</footer>