<header class="header" role="banner">
    <h1 class="header__title">
        <a class="site__title" title="{{@site.title}}" href='{{@site.url}}'>{{{@site.title}}}</a>
    </h1>
    <span class="header__subtitle"> by&nbsp;<a href="https://mingjie.info">@itsmingjie</a></span>
    <nav class="header__nav" role="navigation">
        {{navigation}}
    </nav>
</header>