<header class="header" role="banner">
    <h1 class="header__title">
        <a title="{{@site.title}}" href='{{@site.url}}'>{{{@site.title}}}</a>
    </h1>
    <nav class="header__nav" role="navigation">
        <a class="header__link" href="/">Writing</a>
        <a class="header__link" href="/project">Projects</a>
        <a class="header__link" href="/about">About</a>
    </nav>
</header>