<header class="header" role="banner">
    <a class="site__title" title="{{@site.title}}" href='{{@site.url}}'></a>
        <h1 class="header__title">
            {{{@site.title}}}
        </h1>
        <span class="header__subtitle">&nbsp;@itsmingjie</span>
    </a>
    <nav class="header__nav" role="navigation">
        {{navigation}}
    </nav>
</header>