<hr class="subscribe__divider">
<h3>Don't miss my next post!</h3>
<form class="subscribe__form" action="https://hooks.zapier.com/hooks/catch/2085782/otichcc/" type="POST">
    <input type="text" name="name" placeholder="Full Name" class="subscribe__input" required />
    <input type="email" name="email" placeholder="Email Address" class="subscribe__input" required />
    <input type="submit" value="Submit" class="subscribe__submit" />
</form>