<hr class="subscribe__divider">
<h3>Don't miss my next post!</h3>
<form class="subscribe__form" id="subscribe__form">
    <input type="text" name="name" placeholder="Full Name" class="subscribe__input" required />
    <input type="email" name="email" placeholder="Email Address" class="subscribe__input" required />
    <input type="button" value="Subscribe" class="subscribe__submit" id="subscribe__submit" />
</form>

<script type="text/javascript" src="{{asset "built/subscribe.js"}}" defer></script>