{{!< default}}
{{> header}}

<main class="main_minimal" role="main">
    <article class="article_minimal" role="article">
        
        <header class="postHeader_minimal">
            <h1 class="post__title">Oops! That's another failed attempt.</h1>
        </header>

        <section class="post__content-wrapper">
            <div class="post__content">
                <h2><a href="/">Let's get you back to The Third Attempt.</a></h2>
            </div>
        </section>
        
    </article>
</main>

{{> footer}}