{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> header}}

<main class="main_minimal" role="main">

    <article class="article__wrapper" role="article">
        <header>
            <h1 class="post__title">
                The Third Attempt
            </h1>
        </header>

        <section class="post__content-wrapper">
            <div class="post__content">
                Most of my ideas come from showers thoughts, so I simply jot them down without thinking too hard. 
                I also publish write ups about the things that I have been building technologically.
            </div>
        </section>
    </article>

    <hr />

    {{#foreach posts}}
        {{> card-blog}}
    {{/foreach}}
</main>

{{!-- Extremely stupid way to approach "or" operator --}}
{{#if prev}}
{{pagination}}
{{else}}
{{#if next}}
{{pagination}}
{{/if}}
{{/if}}

{{> footer}}