<a href="https://github.com/" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
<a href="https://www.linkedin.com/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
<a href="https://www.youtube.com/" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>
<a href="https://steamcommunity.com/" target="_blank" rel="noopener"><i class="fab fa-steam-symbol"></i></a>
<a href="https://www.last.fm/" target="_blank" rel="noopener"><i class="fab fa-lastfm"></i></a>
<a href="https://www.google.com/recaptcha/admin#mailhide" target="_blank" rel="noopener"><i class="fas fa-at"></i></a>