<a href="https://twitter.com/itsmingjie" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
<a href="https://github.com/itsmingjie" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>