@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_bold_italic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Wremena";
  src: url("../fonts/Wremena_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Wremena";
  src: url("../fonts/Wremena_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Wremena";
  src: url("../fonts/Wremena_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  text-rendering: optimizeLegibility;
}
