@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_bold_italic-webfont.eot");
  src: url("../fonts/charter_bold_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/charter_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_bold-webfont.eot");
  src: url("../fonts/charter_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/charter_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_italic-webfont.eot");
  src: url("../fonts/charter_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/charter_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_regular-webfont.eot");
  src: url("../fonts/charter_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/charter_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display_regular.eot");
  src: url("../fonts/playfair-display_regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/playfair-display_regular.woff") format("woff"),
    url("../fonts/playfair-display_regular.ttf") format("truetype"),
    url("../fonts/playfair-display_regular.svg#playfair-display") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display_bold.eot");
  src: url("../fonts/playfair-display_bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/playfair-display_bold.woff") format("woff"),
    url("../fonts/playfair-display_bold.ttf") format("truetype"),
    url("../fonts/playfair-display_bold.svg#playfair-display-bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display_black-italic.eot");
  src: url("../fonts/playfair-display_black-italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/playfair-display_black-italic.woff") format("woff"),
    url("../fonts/playfair-display_black-italic.ttf") format("truetype"),
    url("../fonts/playfair-display_black-italic.svg#playfair-display-black-italic")
      format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display_black.eot");
  src: url("../fonts/playfair-display_black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/playfair-display_black.woff") format("woff"),
    url("../fonts/playfair-display_black.ttf") format("truetype"),
    url("../fonts/playfair-display_black.svg#playfair-display-black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display_bold-italic.eot");
  src: url("../fonts/playfair-display_bold-italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/playfair-display_bold-italic.woff") format("woff"),
    url("../fonts/playfair-display_bold-italic.ttf") format("truetype"),
    url("../fonts/playfair-display_bold-italic.svg#playfair-display-bold-italic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display_italic.eot");
  src: url("../fonts/playfair-display_italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/playfair-display_italic.woff") format("woff"),
    url("../fonts/playfair-display_italic.ttf") format("truetype"),
    url("../fonts/playfair-display_italic.svg#playfair-display-italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
