/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

/* @import "global.css"; */

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
.card__title a {
  font-family: "Wremena", sans-serif;
}

.post__content {
  line-height: 1.8;
}

.post__content img.post__feature-image {
  margin-bottom: 3rem;
}

.post__title,
.card__title {
  text-transform: capitalize;
}

::selection {
  text-shadow: none;
  background: #cbeafb;
}

.wrapper_minimal {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 700px;
  padding: 0 2em;
}
@media (max-width: 500px) {
  .wrapper_minimal {
    padding: 0 4vw;
  }
}

.main_minimal {
  flex: 1 1 auto;
  align-items: center;
}

/* 4. Site Header & Navigation
/* ---------------------------------------------------------- */
.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 2rem;
  padding: 1.2rem 0 2rem;
  width: 100%;
}
@media (max-width: 500px) {
  .header {
    margin-bottom: 0.2rem;
  }
}
.header__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
.header__title a.site__title {
  color: var(--text-color);
  /* font-weight: bold; */
  /* font-family: 'Source Serif Pro', serif; */
  font-family: "Wremena", serif;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.02rem; */
}
.header__subtitle {
  margin-left: 5px;
  color: var(--hint-color);
  font-size: 1rem;
}
.header__subtitle a {
  color: var(--hint-color);
}
.header__subtitle a[target="_blank"]::after {
  content: "";
  margin: 0;
}
@media only screen and (max-width: 500px) {
  .header__subtitle {
    display: none;
  }
}
.header__nav {
  display: flex;
  margin-left: auto;
  /* justify-content: space-between; */
  width: auto;
}
.header__link {
  position: relative;
  margin-left: 2.1rem;
  font-family: "Charter", "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0;
  color: var(--link-color);
  /* transition: background .2s ease-in-out; */
  transition: color 0.4s ease-in-out;
}

.header__link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  max-width: 0;
  /* height: 1px; */
  /* background-color: currentColor; */
  background-color: transparent;
  border-bottom: 1px solid var(--text-color);
  transition: max-width 0.4s ease-in-out;
}
.header__link:hover:after {
  max-width: 200px;
}
@media (max-width: 500px) {
  .header__link {
    margin-left: 1.2rem;
  }
}
.header__link.nav__current {
  font-weight: bold;
  cursor: default;
  pointer-events: none;
}
.header__link.nav__current:after {
  max-width: 200px;
}

/* 6. Post Feed
/* ---------------------------------------------------------- */

.card {
  margin: 0 0 4rem;
  display: flex;
}
@media (max-width: 500px) {
  .card {
    flex-direction: column;
    /* margin: 0 0 4rem; */
  }
}

.card__content {
  width: 100%;
  margin-left: 8px;
  /* width: 75%; */
  /* margin-right: 152px; */
}
.card__content-project {
  width: 100%;
}
.card__title {
  font-size: 1.48rem;
  font-weight: bold;
  margin: 0;
}
.card__title a {
  /* font-family: 'Charter'; */
  /* font-weight: 900; */
  color: var(--link-color);
}
.card__desc {
  margin: 0.3rem 0 0.5em;
  line-height: 1.45;
  font-size: 1.08rem;
}
.card__desc a {
  color: var(--text-color);
  /* font-family: 'Charter'; */
}
.date,
.card__tag,
.card__read-time {
  display: inline-block;
  font-family: "Charter";
  font-size: 0.8rem;
  color: var(--hint-color);
  /* margin: 0.3rem 0; */
}

.card__featured,
.post__pre {
  display: inline-block;
  font-family: "Wremena";
  color: var(--text-color);
}

.card__featured {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.post__pre {
  font-size: 1rem;
  margin-top: 15px;
}

.card__tag .card__taglink {
  font-style: italic;
  text-transform: lowercase;
}

.card__img-wrapper {
  margin-right: 2rem;
}
.card__img-bg {
  color: var(--alt-color);
}
.card__img {
  width: 205px;
  height: 150px;
  object-fit: cover;
  transform: translate(8px, -8px);
  transition: 100ms ease-in-out;
}
.card__img:hover {
  transform: translate(0);
}

/* .card__img-bg {
    display: block;
    width: 152px;
    height: 152px;
    background-position: 50% 50%;
    float: right;
    background-size: cover;
} */

@media (max-width: 500px) {
  .card__img-wrapper {
    margin: 0 0 0.7rem 0;
    order: -1;
  }
  .card__img {
    width: 100%;
  }
}

/* 7. Project Feed
/* ---------------------------------------------------------- */

.card__project {
  margin: 0rem 0 10rem;
}
.card__hero-wrapper {
  margin: 0 0 1.5rem;
  transition: all 0.4s ease-in-out;
}
.card__hero-wrapper:hover {
  box-shadow: 0 4px 12px var(--hint-color);
}
.card__hero-img {
  width: 100%;
}
.card__desc-project {
  line-height: 1.4;
  margin-top: 0.4em;
}
.card__desc-project a {
  color: var(--hint-color);
  /* font-family: 'Charter', 'Open Sans', serif; */
}

/* 7. Post
/* ---------------------------------------------------------- */

.post__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
}

.tag__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2.4rem;
}

@media (max-width: 500px) {
  .post__title,
  .tag__title {
    font-size: 1.6rem;
  }
}

.post__content-wrapper {
  margin: 2rem 0 1rem;
}
.post__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post__content > * {
  min-width: 100%;
  max-width: 100%;
  /* text-align: justify; */
  /* text-justify: inter-word; */
  /* hyphens: auto; */
  /* box-sizing: border-box; */
}
.post__content h1 {
  letter-spacing: 0.04rem;
}
.post__content a {
  /* box-shadow: #1c2437 0px -0.5px 0px inset; */
  /* color: var(--shadow-color) */
  color: var(--alt-color);
  border-bottom: 2px dotted var(--alt-color);
  text-decoration: none;
}

.post__content a:hover {
  border-bottom: 2px solid var(--alt-color);
}

/* IMG */
.post__content figure {
  margin: 1em 0 2em;
}
.post__content figcaption {
  font-size: 0.8rem;
  margin-top: 0.8em;
  text-align: center;
  color: var(--hint-color);
}
.post__content img {
  max-width: 100%;
  margin: 0 auto;
}
.post__content .credit {
  color: var(--hint-color);
  font-size: medium;
  font-style: italic; 
}
.post__separator {
  background: linear-gradient(
    to left,
    currentColor calc(50% - 12px),
    transparent calc(50% - 12px),
    transparent calc(50% + 12px),
    currentColor calc(50% + 12px)
  );
  background-color: rgba(0, 0, 0, 0);
  background-color: transparent !important;
  border: none;
  height: 0.08rem;
  overflow: visible;
  position: relative;
  color: var(--hint-color);
  margin: 1.2rem auto;
}
.post__separator::before,
.post__separator::after {
  background: currentColor;
  content: "";
  display: block;
  height: .8rem;
  position: absolute;
  top: calc(50% - 0.4rem);
  transform: rotate(22.5deg);
  width: 0.1rem;
}
.post__separator::before {
  left: calc(50% - 0.25rem);
}
.post__separator::after {
  right: calc(50% - 0.25rem);
}
.post__tags,
.post__permalink {
  font-size: 0.8rem;
  text-align: right;
  margin-top: 5px;
  color: var(--hint-color);
}
.post__tags a {
  text-decoration: underline;
}
.kg-image-card.kg-width-wide {
  min-width: 100%;
  max-width: 65vw;
  width: 65vw;
}
.kg-image-card.kg-width-full {
  min-width: 100%;
  max-width: 100vw;
  width: 100vw;
}

/* GALLERY */
.kg-gallery-container {
  display: flex;
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-card {
  min-width: 100%;
  max-width: 65vw;
  width: 65vw;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

/* CODE */
.post__content pre {
  overflow-x: auto;
  margin: 0 0 2em;
  padding: 20px;
  max-width: 100%;
  font-size: 1rem;
  line-height: 1.4em;
  background: var(--block-background-color);
  /* border-radius: 5px; */
}
.post__content pre code {
  background: transparent;
  font-size: 1rem;
}
.post__content pre code span.token {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
.post__content code {
  padding: 0 5px 2px;
  font-size: 1rem;
  font-weight: 400;
  background: var(--block-background-color);
  border-radius: 3px;
}

.post__footer {
  background-color: var(--background-color);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.footer__divider {
  text-align: center;
  font-size: 0.95rem;
}
.footer__wrapper {
  width: 100%;
}
.footer__wrapper-inner {
  display: flex;
  padding: 7em 2em;
  margin: 0 auto;
  max-width: 700px;
}
.footer__link-anchor {
  display: flex;
  flex-direction: column;
}
.footer__link-anchor:hover .footer__link-icon-left {
  transform: translateX(-0.5rem);
}
.footer__link-anchor:hover .footer__link-icon-right {
  transform: translateX(0.5rem);
}
.footer__link-icon-left {
  position: relative;
  left: -42px;
  top: 22px;
  height: 0;
  transition: transform 0.2s ease-in-out;
}
.footer__link-icon-right {
  position: relative;
  right: -36px;
  top: 22px;
  height: 0;
  transition: transform 0.2s ease-in-out;
}
.footer__link-label {
  font-family: "Charter", "Open Sans", sans-serif;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  color: var(--link-color);
  font-weight: 600;
}
/* .footer__left-link, */
.footer__link-prev {
  width: 50%;
  padding-right: 3rem;
}
.footer__link-next {
  width: 50%;
  padding-left: 3rem;
  text-align: right;
  float: right;
}
.footer__title-article {
  margin: 0.2em 0 0 0;
  /* font-size: 1.28em; */
  font-size: 1.14em;
  font-weight: 600;
  /* font-family: 'Charter', 'Open Sans', sans-serif; */
}
@media (max-width: 500px) {
  .footer__wrapper-inner {
    flex-direction: column;
    padding: 4em 2em;
  }
  .footer__link-prev,
  .footer__link-next {
    width: 100%;
    text-align: left;
  }
  .footer__wrapper-inner div:nth-child(2) {
    margin-top: 3em;
  }
}

/* VIDEO */
.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  height: 100%;
}

/* .kg-card.kg-embed-card {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
} */
/* .kg-card.kg-embed-card iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
} */

/* 10. Pagination
/* ---------------------------------------------------------- */

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0;
}
.pagination__link {
  display: block;
  color: var(--link-color);
  width: 100%;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
  font-size: 1rem;
}
.pagination__link:hover {
  color: var(--hint-color);
}
.pagination__link-prev {
  text-align: right;
}

/* 11. Site Footer
/* ---------------------------------------------------------- */

.footer {
  padding: 2rem 0;
  color: var(--hint-color);
  font-size: 0.85rem;
  flex: 0 0 auto;
}
.footer div,
.footer a {
  color: var(--hint-color);
  font-family: "Charter", "Open Sans", serif;
}

.footer a[target="_blank"]::after {
  content: "";
  margin: 0;
}

/* 12. Bookmark Card
/* -------------------------------------------------------- */
div.kg-card.kg-bookmark-card {
  width: 100%;
  padding: 0;
  margin: 10px auto;
  background: var(--background-color);
}
@media only screen and (min-width: 48rem) {
  div.kg-card.kg-bookmark-card {
    margin: 15px auto;
  }
}
.kg-card + .kg-bookmark-card {
  margin-top: 0;
}

a.kg-bookmark-container {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
  min-height: 148px;
  box-shadow: var(--shadow-color) 0px 1px 4px,
    var(--shadow-color) 0px 0px 0px 1px;
  border-radius: 3px;
}

a.kg-bookmark-container[target="_blank"]::after {
  content: none;
  margin: 0;
}

a.kg-bookmark-container[target="_blank"]::after {
  content: none;
  margin: 0;
}
.kg-bookmark-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.kg-bookmark-title {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 600;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.kg-bookmark-description {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 12px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.kg-bookmark-thumbnail {
  position: relative;
  min-width: 30%;
  max-height: 100%;
  overflow: hidden;
}
div.kg-bookmark-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 3px 3px 0;
}
.kg-bookmark-metadata {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  font-weight: 400;
  color: #9b9b9b;
  margin-top: 14px;
}
img.kg-bookmark-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.kg-bookmark-author:after {
  content: "•";
  margin: 0 6px;
}
.kg-bookmark-publisher {
  color: inherit;
}
@media (max-width: 500px) {
  .kg-bookmark-container {
    flex-direction: column;
  }
  .kg-bookmark-thumbnail {
    order: 1;
    width: 100%;
    min-height: 160px;
  }
  .kg-bookmark-thumbnail img {
    border-radius: 3px 3px 0 0;
  }
  .kg-bookmark-content {
    order: 2;
  }
}

/* 13. Others
/* -------------------------------------------------------- */

.preview__note {
  background-color: lightyellow;
  color: #000;
}

#caption-overlay.caption-overlay {
  bottom: 0;
  background-color: var(--overlay-color);
  opacity: 0;
  -webkit-transform: none;
  transform: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

#caption-overlay.caption-overlay.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#caption-overlay .img-caption {
  font-size: 1rem;
  color: var(--text-color) !important;
}

figure .fluidbox--closed .fluidbox__ghost {
  transition: opacity 0s 0.25s, transform 0.25s 0s, -webkit-transform 0.25s 0s;
  transition-timing-function: ease-in-out;
}

figure .fluidbox__ghost {
  transition: opacity 0s 0s, transform 0.25s 0s, -webkit-transform 0.25s 0s;
  transition-timing-function: ease-in-out;
}

.listmonk-form {
  text-align: center;
}

.subscribe__input {
  display: block;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  border: 0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
  background: transparent;
  border-bottom: 1px solid var(--hint-color);
  padding: 10px 15px;
  margin: 10px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Charter", "Open Sans", sans-serif;
}

.subscribe__input:focus {
  border-bottom: 1px solid var(--text-color);
}

.subscribe__submit {
  font-family: "Charter", "Open Sans", sans-serif;
  background-color: transparent;
  color: var(--hint-color);
  border: 2px solid var(--hint-color);
  margin-top: 1rem;
  padding: 10px 30px;
  min-width: 350px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.subscribe__submit:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}
