@import "screen.css";

/* ---------------------------------------------------------- *
  ____    _                     ____             __   _   
 / ___|  | |_    __ _   _   _  |  _ \   _   _   / _| | |_ 
 \___ \  | __|  / _` | | | | | | |_) | | | | | | |_  | __|
  ___) | | |_  | (_| | | |_| | |  __/  | |_| | |  _| | |_ 
 |____/   \__|  \__,_|  \__, | |_|      \__,_| |_|    \__|
                        |___/                             
/* ---------------------------------------------------------- */

/* Variables
/* ---------------------------------------------------------- */
:root {
    --sans-serif: 'Open Sans', sans-serif;
    --text-color: #3c484e;
    --link-color: #273c75;
    --link-hover-color: #00a8ff;
    --sidebar-width: 320px;
    --sidebar-color: #002a3e;
    --sidebar-link-color: #9ebec3;
    --sidebar-link-hover-color: white;
    --search-placeholder-color: color(white a(0.5));
    --radius3: 0;
    --radius5: 0;
}

/* Overrides
/* ---------------------------------------------------------- */

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}

.post-card-excerpt,
.post-full-content,
.post-full-content h5,
.post-full-content h6,
.post-full-content table,
.site-header-content .author-meta,
.subscribe-overlay-description {
    font-family: var(--sans-serif);
}

#sidebar, .site-footer {
    background: var(--sidebar-color) no-repeat center center;
    background-size: cover;
}

#sidebar .site-header {
    background: none;
}

.site-header:before,
.site-header:after,
.site-header.no-cover:before,
.site-header.no-cover:after {
    display: none;
}

#sidebar .site-header-content {
    padding: 1em;
    min-height: initial;
}

#sidebar .site-header-picture {
    max-width: 260px;
}

.site-logo {
    max-height: initial;
}

.site-header-text a {
    color: inherit;
    text-decoration: none;
}

.site-footer {
    width: 100%;
    padding: 1em 1em;
}

.site-footer-content {
    display: flex;
    flex-direction: column;
}

.site-footer-content i {
    margin: 0.4em 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: var(--radius3);
    background: none;
    color: var(--sidebar-link-color);
    border: 1px solid color(var(--sidebar-link-color) a(0.4));
    transition: all 0.3s ease;
    text-align: center;
}

.site-footer-content i::before
{
    position: relative;
    bottom: 1px;
}

.site-footer-content a:hover i
{
    background: var(--sidebar-link-hover-color);
    color: var(--sidebar-color);
    border: 1px solid var(--sidebar-link-hover-color);
}

.site-footer-subscribe {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.site-footer-subscribe i {
    margin-right: 8px;
}

.subscribe-email {
    border-radius: var(--radius5);
}

.subscribe-form button {
    border-radius: var(--radius5);
}

.site-footer-external {
    margin-bottom: 1em;
}

.site-footer-external a {
    margin: 0 2px;
}

.site-footer-text {
    line-height: 1.6em;
}

.main-nav {
    margin: 0 0 1em;
    padding: 0 10%;
}

.main-nav ul {
    margin: 0;
    flex-direction: column;
}

.main-nav li {
    margin: 2px 0;
    background: rgba(0,0,0,.2);
    text-transform: unset;
}

.main-nav li a {
    color: var(--search-placeholder-color);
}

.main-nav li a:hover {
    color: var(--sidebar-link-hover-color);
}

.search-form {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 10%;
}

.search-form form {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.search-form input {
    width: calc(100% - 45px);
    height: 40px;
    padding-left: 45px;
    border: none;
    border-radius: var(--radius3);
    background: color(black a(0.2));
    color: white;
}

.search-form input::placeholder {
    color: var(--search-placeholder-color);
}

.search-form i {
    position: absolute;
    top: 33%;
    left: 17px;
    z-index: 1;
    color: var(--search-placeholder-color);
}

.search-results {
    display: none;
    margin-top: 40px;
}

.search-results .read-next-card {
    margin: 0;
    text-align: center;
}

.search-results .read-next-card li:first-of-type {
    margin-top: 1em;
}

.search-results .read-next-card li:last-of-type {
    margin-bottom: 1em;
}

.search-results .read-next-card li:last-of-type a {
    border: none;
}

.home-template .featured-posts,
.home-template .post-feed {
    margin-top: 40px;
    margin-left: -20px;
    margin-right: -20px;
}

.post-card {
    border-radius: var(--radius5);
}

.post-card-image-link {
    border-radius: var(--radius5) var(--radius5) 0 0;
}

a.post-card-content-link:hover {
    color: inherit;
}

.post-time .fulldate {
    display: none;
}

.post-time:hover .timeago {
    display: none;
}

.post-time:hover .fulldate {
    display: inline;
}

.post-card-meta span {
    flex-shrink: 0;
    margin-left: 0;
    color: var(--midgrey);
    font-size: 1.2rem;
    line-height: 33px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.post-card-meta span.featured-badge {
    padding: 0 1.2em;
    border-radius: var(--radius3);
    color: white;
    background-color: var(--link-hover-color);
}

.post-full-meta {
    margin: 1.5em 0;
}

.post-full-meta .post-tags {
    margin-left: 1em;
}

.post-full-meta .post-tags a {
    color: inherit;
}

.post-full-meta .post-tags a:hover {
    color: var(--link-hover-color);
}

.post-full-image,
.img-cover {
    margin: 0;
    width: 100%;
    height: auto;
}

.post-full-image {
    border-radius: var(--radius5) var(--radius5) 0 0;
}

.post-full-content blockquote {
    border-color: var(--sidebar-color);
}

.post-full-content code {
    border-radius: var(--radius3);
}

.post-full-content pre {
    border-radius: var(--radius5);
}

.author-profile-image {
    border-radius: var(--radius5);
}

.author-name-tooltip {
    border-radius: var(--radius3);
}

.author-card-name {
    margin-top: 0;
}

.post-full-comments {
    margin: 2em auto;
    padding: 0 100px 0;
}

.read-next-card-header {
    padding-top: 0;
}

.read-next-card {
    margin: 0 20px;
    border-radius: var(--radius5);
}

.read-next-card:before {
    border-radius: var(--radius5);
}

.read-next-card-content li:first-of-type a {
    padding-top: 20px;
}

.read-next-card-content li a {
    padding: 10px 0;
}

.read-next-card-content li a:hover {
    color: var(--link-hover-color);
}

.read-next-feed {
    margin: 0;
}

.floating-header-info {
    display: flex;
}

.floating-header-logo {
    letter-spacing: unset;
}

.floating-header-share {
    position: absolute;
    right: 0;
}

.tag-header.site-header,
.author-header.site-header {
    margin: 70px 0;
    border-radius: var(--radius5);
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
}

.tag-header .site-title,
.tag-header .site-description,
.author-header .site-title,
.author-header .site-description {
    margin: 0.2em 0.4em;
}

.contrast-box,
.author-bio.contrast-box {
    margin: 0.2em 0.4em;
    padding: 0.4em;
    opacity: unset;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.icon-box {
    width: 36px;
    height: 36px;
}

.tag-template .post-feed,
.author-template .post-feed {
    margin-top: 0;
}

.error-template .site-main {
    padding: 5vw 4vw;
}

.error-template .site-main .inner {
    max-width: 980px;
}

.error-template .site-footer-subscribe {
    display: none;
}

.error-message {
    margin-bottom: 7vw;
}

pre,
code,
.post-full-content pre,
.post-full-content code,
:not(pre) > code[class*="language-"],
pre[class*="language-"],
.post-full-content :not(pre) > code[class*="language-"],
.post-full-content pre[class*="language-"] {
    background: var(--sidebar-color);
    color: var(--whitegrey);
    border-radius: var(--radius5);
}

pre,
pre[class*="language-"],
.post-full-content pre,
.post-full-content pre[class*="language-"] {
    margin: 1.5em 0;
}

p + pre,
.post-full-content p + pre,
.post-full-content p + pre[class*="language-"] {
    margin-top: -1em;
}

pre + pre,
.post-full-content pre + pre,
.post-full-content pre + pre[class*="language-"] {
    margin-top: 0;
}

/* Landscape Mode
/* ---------------------------------------------------------- */

@media (min-width: 1280px) {

    .portrait { display: none; }

    #sidebar {
        position: fixed;
        width: var(--sidebar-width);
        height: 100%;
    }

    #sidebar footer {
        position: absolute;
        bottom: 0;
    }

    #site-main {
        position: absolute;
        left: var(--sidebar-width);
    }

    .floating-header {
        left: var(--sidebar-width);
        width: 100%;
        max-width: calc(8vw + 1040px);
    }

    .floating-header-info {
        margin: 0 0 0 20px;
    }

    .floating-header-logo {
        margin: 0;
    }

    .floating-header-logo,
    .floating-header-divider {
        display: none;
    }

}

/* Portrait Mode
/* ---------------------------------------------------------- */

@media (max-width: 1279px) {

    .landscape { display: none; }

    #sidebar .site-header {
        padding: 0;
    }

    #sidebar .site-header-content {
        flex-direction: row;
    }

    #sidebar .site-header-picture {
        max-width: 140px;
    }

    .main-nav ul {
        flex-direction: row;
    }

    .main-nav li {
        margin: 0 2px;
    }

    .main-nav li:first-child {
        margin-left: 0;
    }

    .main-nav li:last-child {
        margin-right: 0;
    }

}

@media (max-width: 1170px) {

    .post-full-comments {
        padding: 0 7vw 0;
    }

}

@media (min-width: 795px) {
    
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
        border-radius: var(--radius5) 0 0 var(--radius5);
    }

}

@media (max-width: 650px) {

    .tag-template .tag-header.site-header,
    .author-template .author-header.site-header {
        margin: 5vw 0 0 0;
    }

    .home-template .featured-posts,
    .home-template .post-feed {
        margin-top: 5vw;
        padding-top: 0;
    }

}
